{% extends "base_print.html" %}
{% load static mb_extras %}

{% block title %}Profit & Loss Report · CERN Books{% endblock %}

{% block content %}
<div id="pl-report-root"></div>
<script id="pl-report-data" type="application/json">
  {{ pl_json|safe }}
</script>
{% endblock %}

{% block extra_js %}
{% vite_asset 'pl-report-print' 'css' as css_path %}
{% if css_path %}
<link rel="stylesheet" href="{% static css_path %}">
{% endif %}

{% vite_asset 'pl-report-print' as js_path %}
{% if js_path %}
<script type="module" src="{% static js_path %}"></script>
{% endif %}
{% endblock %}